body{background-color: burlywood;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        overflow: auto;}

.principal{background-color: white;
            height: 100vh;
            width: 60%;
            margin: auto;
            padding-top: 1px;
            }


h1{text-align: center;
    margin-top:20px;
    font-size: xx-large;
    font-family: 'Edu SA Beginner', cursive;}


.botao_tarefas{background-color:  red;
                border-style: none;
                border-radius: 15px;
                padding: 10px;
                color: white;
                margin-top: 8px;
                margin-right: 13px;
                float: right;
                font-size:smaller;
                }

.botao_tarefas:hover{background-color: green ;
                        color: white;}  

.form_estilo{background-color:gray;
                color: white;
                height: 260px;
                width: 250px;
                overflow: hidden;
                margin: auto;
                border-radius: 8px;
                float:right;
                display: none;
                margin-right: 15px;}

.estilo_prin{margin-left: 7px;
                margin-top: 4px;}

.estilo_texto{resize: none;}

img{width: 5%;
    float: right;
    margin: 5px;
    }

.estilo_lista{list-style-position: inside;
                padding: 0;
                clear: right;}

